body {
	background-image: url('adtime.jpg');
	font-family: 'Press Start 2P', cursive;
	height: auto;
	width: auto;
}

.bmo {
	text-align: center;
	z-index: 1;
	position: relative;
	bottom: 760px;
	left: 58px;
	max-width: 80%;
}
h1{
	font-size: large;
	padding-bottom: 20px;
}

p {

	font-size: larger;
}


}

.col-sm-12 img {
	max-width: 100%;
	max-height: 100%;
}

.col-sm-6 img {	
	margin-top: 50px;
	max-height: 100%;
	max-width: 100%;
}

.btn  {
	position: relative;
	bottom: 671px;
	left: 110px;
	background-color: #193c2d;
	border: 0px;
	color: white;
	
}